body {
    height: 100%;
    font-family: 'Rampart One', cursive;
}

#welcome {
    background-image: url("bottle.jpg");
    background-size: cover;
    background-repeat: none;
    background-position: center;
    background-position-x: -30;
    background-position-y: 60;
    height: 650px;
}

.name {
    padding-top: 5%;
    padding-left: 2%;
    font-family: 'Caveat', cursive;
    font-size: 10rem;
}

#team {
    padding-left: 25%;
    padding-top: 3%;
}

#slogan {
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Rampart One', cursive;
}

img {
    
   height: 550px;
   border-radius: 5%;
}

#carouselExampleControls {
    width: 450px;
   
}

#carousel_container {
    text-align: center;
    width: 100%;
    margin-top: 10%;
    margin-left: 20%;
}

.services {
    text-align: center;
    
}

.services h3 {
    margin-top:5%;
    font-size: 4rem;
}

p {
    font-size: 1.4rem;
}